* {
  box-sizing: border-box;
}
.container i {
  color: #d82a4e;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  /* -ms-flex-wrap: wrap; IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  font-size: 16px;
}

.qualification span {
  margin-left: 10px;
  margin-top: 7px;
  font-size: 10px;
  /* align-self: center; */
}
.second {
  border-left: 1px solid lightgrey;
}
.col25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col50 {
  flex: 100%;
}

.col75 {
  -ms-flex: 75%; /* IE10 */
  /*width: 50%;*/
  flex: 75%;
}

.col25,
.col50,
.col75 {
  padding: 0 16px;
}
.addmore {
  display: grid;
  grid-template-columns: 98% 5fr;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
.col3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
}
.span {
  font-size: 21px;
  position: absolute;
  right: -5px;
  top: -5px;
}

.hr {
  width: 100%;
  height: 7px;
}
.hr:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.span {
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}
.span2 {
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 11px;
  font-style: italic;
  color: rgb(225, 78, 202);
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}
.span:hover {
  transform: scale(1.2);
}
.span:hover ~ .hr {
  background-color: lightgrey;
  /* cursor: pointer; */
}
.span2:hover + .hr {
  background-color: lightgrey;
  /* cursor: pointer; */
}
.span2:hover {
  transform: scale(1.2);
}
.container {
  background-color: white;
  /* padding: 30px 20px 15px 20px; */
  /* border: 1px solid lightgrey; */
  /* margin: 100px 0; */
  display: flex;
  flex-direction: column;
  /* margin-top: ; */
  /* border-radius: 10px; */
}
.container input[type='email'],
.container input[type='text'],
.container input[type='number'] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.container input[type='text']:focus,
.container input[type='number']:focus {
  border: 1px solid green;
}
.container input[type='checkbox'] {
  cursor: pointer;
}
.container label {
  margin-bottom: 10px;
  text-align: left;
  display: block;
}
.bigContainer {
  background-color: #d82a4e;
  padding: 50px;
  width: 80%;
  margin: auto;
  /* margin-top: 100px;
  margin-bottom: 100px; */
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  /* font-size: 10px; */
}
/* ::placeholder {
  font-style: italic;
} */
.btn {
  background: #d82a4e;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.lastlabel {
  margin-top: 50px;
}
.insidecol {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-gap: 50px;
}
.insidecol1 {
  /* width: 50%; */
}
.insidecol2 {
  position: relative;

  /* width: 20%; */
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img {
  padding: 10px;
  border: 1px solid lightgrey;
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: relative;
  /* cursor: pointer; */
}
.img:hover .imghover {
  display: flex;
}
.imghover {
  position: absolute;
  width: 228px;
  height: 229px;
  background-color: rgba(211, 211, 211, 0.712);
  top: 9px;
  display: none;
  justify-content: center;
  align-items: flex-end;
  font-size: 42px;
}
.imghover i {
  cursor: pointer;
  color: black;
}
.insidecol2 .img img {
  width: 100%;
  height: 100%;
}

.insidecol2 input[type='file'] {
  display: none;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.cancel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}
.cancelbtn {
  color: red;
  border: 1px solid #ec250d;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid red;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  background-color: white;
}
.cancelbtn:hover {
  /* border: 1px solid red; */
  color: white;
  background-color: red;
}

.hr {
  border: 1px solid lightgrey;
}

/* span {
  font-size: 16px;
} */
.addless {
  display: grid;
  /* grid-template-columns: 96% 5fr; */
  align-items: center;
  position: relative;
}
.span3 {
  position: absolute;
  right: 0px;
  top: 13px;
  font-size: 11px;
  font-style: italic;
  color: rgb(225, 78, 202);
  cursor: pointer;
  transition: transform 0.2s;
  padding: 2px 10px;
  border: 2px solid transparent;
  border-radius: 10px;
}
span.span3:hover {
  border: 2px solid rgb(225, 78, 202);
}
.addless hr {
  margin: -3px 0px 15px 0;
  /* border: 1px solid lightgrey; */
  height: unset;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .col25 {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .col3 {
    grid-template-columns: auto;
    grid-gap: 0;
  }
  .col50 {
    /* border-left: 1px solid lightgrey; */
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .insidecol {
    display: flex;
    flex-direction: column-reverse;
  }
  .col3 {
    grid-template-columns: auto;
    grid-gap: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .bigContainer {
    width: 95%;
  }
  .insidecol {
    display: flex;
    flex-direction: column-reverse;
  }
  .col3 {
    grid-template-columns: auto;
    grid-gap: 0;
  }
}
