.container {
  width: 80%;
  margin: auto;
  margin-top: 150px;
  background-color: #d82a4e;
  padding: 50px;
  h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
    color: white;
  }
  .inside {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    .row {
      display: flex;
      // flex-wrap: wrap;
      grid-gap: 30px;
      // padding: 30px;
      button {
        display: inline-block;
        min-width: 196px;
        text-align: center;
        border: none;
        padding: 15px 10px;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        color: #fff;
        cursor: pointer;
        background: #d82a4e;
      }
      input {
        height: 56px;
        width: 100%;
        padding: 0 30px;
        margin-right: 18px;
        float: left;
        border: none;
        font-size: 14px;
        background: #edf4f6;
        // border: none;
        outline: none;
        &:focus {
          border-bottom: 3px solid #d82a4e;
        }
      }
      .filterbtn {
        border: 1px solid #d82a4e;
        background-color: transparent;
        color: #d82a4e;
        &:hover {
          background: #d82a4e;
          color: #fff;
        }
      }
      .searchbtn {
        // display: none;
      }
    }
    .filter {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: center;
      // margin: 0 50px 20px 50px;
      padding: 30px;
      border: 1px solid pink;
      h3 {
        margin: 0 0 20px 0px;
        text-align: left;
      }
      .filters {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 30px;
        align-items: center;
        justify-content: space-between;
        select {
          height: 56px;
          width: 200px;
          padding: 0 30px;
          -moz-appearance: none; /* Firefox */
          -webkit-appearance: none; /* Safari and Chrome */
          appearance: none;
          // margin-right: 18px;
          // float: left;
          // border: none;
          // font-size: 14px;
          // background: #edf4f6;
          // border: none;
          // outline: none;
        }
      }
    }
  }
}

@media (min-width: 1281px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 98%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    width: 95%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 600px) and (max-width: 767px) {
  .container {
    width: 95%;

    .inside {
      .row {
        flex-direction: column;
        input {
        }
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .container {
    width: 95%;

    .inside {
      .row {
        flex-direction: column;
        input {
        }
      }
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 99%;

    .inside {
      .row {
        flex-direction: column;
        input {
        }
      }
    }
  }
}
