.container {
  width: 400px;
  margin: auto;
  form {
    padding: 25px 50px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    background-color: white;

    h4 {
      color: black;
      font-weight: 700;
      margin-bottom: 0;
    }
    input {
      border: 1px solid lightgrey;
      padding: 10px;
      margin-top: 30px;
      outline: none;
      border-radius: 5px;
    }
    input[type='submit'] {
      background: #d82a4e;
      border-radius: 25px;
      color: white;
      padding: 12px 10px;
      cursor: pointer;
      margin: 35px 0 10px 0;
    }
    .check {
      display: flex;
      align-items: center;
      label {
        margin-top: 10px;
        text-decoration: none;
        color: black;
        font-size: 10px;
        font-weight: 600;
        margin-left: 5px;
        span {
          color: #d82a4e;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      input[type='checkbox'] {
        margin-top: 10px;
        cursor: pointer;
      }
    }
    p {
      font-size: 12px;
      text-align: center;
      font-weight: 600;
      a {
        color: #d82a4e;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .sociallinks {
    margin-top: 10px;
    background-color: white;
    padding: 5px 30px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      //   font-weight: 600;
      font-size: 12px;
    }
    span {
      display: flex;
      .img {
        border-radius: 50%;
        // width: 25px;
        margin-left: 10px;
        border: 1px solid lightgrey;
        padding: 5px 5px 0px 5px;
        &:hover {
          cursor: pointer;
          background-color: lightblue;
        }
        img {
          width: 16px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 325px;
  }
}
